form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}


#errorMsg{
    color: red;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
    height: auto;
}
img{
    border-radius: 5px 5px 0 0;
}

#results{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
